<b>What is this all about</b>
<p>
  A blog about my vague and varied wanderings 
</p>
<p>
The color combination used here comes from <a href="http://clrs.cc" target="_blank">CLRS</a>.
</p>
<b>Eh, really?</b>
<p>
Yeah, there's nothing really that interesting going in my life in general. 
  <ul>
    <li><a href="">Nomadic Notes</a></li>
    <li><a href="http://nomadcapitalist.com/2016/01/11/best-cafes-in-se-asia-for-high-achieving-nomads/">Nomad Capitalist</a></li>
    <li><a href="http://www.adventurefaktory.com/vietnam-the-ultimate-saigon-cafes-list/">Adventure Faktory</a></li>
  </ul>
</p>

<p>
 Some good advice is that I tend to break my builds 99% of the time. 
</p>
